.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e0dfde;
}

.header__logo {
    text-decoration: none;
}

.header__actions {
    display: flex;
    gap: 20px;
}

.header__action {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e0dfde;
    background: #f7f7f7;
}

.header__action-button {
    text-decoration: none;
    color: #333333;
}

/* main */
.main {
    flex-grow: 1;
    background: #f9f9f9;
}

.main .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px;
}
